packages/
bin/
obj/

Solitude.Server/App.config
Solitude.Server.Tests/App.config
Components

Resource.designer.cs
*~
*.userprefs
*.suo

Libraries/Model/packages.config
/Solitude.Droid/Components
/Solitude.Droid/Solitude.Droid.csproj.user
