<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.ds302e15.dine_with_a_dane">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="19" />
	<application android:label="Dine With a Dane" android:theme="@android:style/Theme.Holo.Light" android:icon="@drawable/main_icon"></application>
</manifest>